.header{
    height:42px;
    min-width: 833px;
}

.header__nav{
    height: 24px;
    float: right;
    margin-top: 18px;
    overflow: hidden;
}
.content{
    height: 191px;
    min-width: 833px;
    text-align:center;
}

.content__logo {
    height: 132px;
}

.logo {
    width: 270px;
    height: 129px;
    padding-bottom: 3px;
}

.content__search{
    margin: 17px auto 5px;
    position: relative;
    width: 641px;
    height: 37px;
}

.search-image {
    width: 18px;
    height: 16px;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 510px;
    background-image: url("../image/camera_new_5606e8f.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.search-image:hover {
    background-position: 0 -20px;
}

.content__input {
    float: left;
    width: 539px;
    height: 33px;
    text-indent: 8px;
    border-width: 1px 0px 1px 1px;
    border-color: #b8b8b8;
    border-style: solid;
}

.content__input:focus {
    outline: none;
    border-color: #4b91fe;
}

.content__button {
    float: left;
    width: 100px;
    height: 37px;
    font-size: 15px;
    border-width: 0;
    color: #fefefe;
    background-color: #4685fe;
}

.content__button:hover {
    background-color: #3171F3;
    box-shadow: 1px 1px 1px 0px #cccccc;
}

.content__button:active {
    background-color: #3075DC;
    box-shadow: 1px 1px 1px 0px #2964bb inset;
}

.footer{
    height: 367px;
    min-width: 833px;
    text-align:center;
}

.qrcode {
    height: 167px;
    padding-top: 68px;
    padding-bottom: 4px;
}

.qrcode__figure {
    margin: 0;
}

.qrcode__img {
    padding: 5px;
    border: 1px solid #f3f3f3;
}

.qrcode__figcaption {
    height: 32px;
    color: #333;
}

.qrcode__text {
    height: 14px;
    line-height: 10px;
    font-size: 14px;
    color: #999999;
}

.footer__guide {
    height: 131px;
    display: inline;
    font-size: 12px;
    color: #999999;
}

.footer__nav {
    height: 22px;
    padding-top: 31px;
}

.footer__friendlink {
    height: 24px;
    margin: 0;
    line-height: 22px;
}




